*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:linear-gradient(to right,#6a11cb,#2575fc,#ff00cc);
}

.logo{
color:white;
font-size:28px;
font-weight:bold;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:bold;
}

.home{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#67e8f9,#6366f1,#d946ef);
color:white;
text-align:center;
}

.home h1{
font-size:60px;
}

.home p{
font-size:22px;
margin:20px;
}

.btn{
padding:12px 28px;
border:none;
border-radius:30px;
background:white;
color:#6a11cb;
font-weight:bold;
cursor:pointer;
}

.hero-page{
display:flex;
justify-content:space-around;
align-items:center;
padding:80px;
background:white;
height:80vh;
}

.hero-page h1{
font-size:55px;
color:#6a11cb;
}

.about{
padding:70px;
background:#8be9fd;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.card{
width:220px;
padding:25px;
background:white;
border-radius:15px;
box-shadow:0 5px 15px gray;
}

footer{
background:black;
color:white;
text-align:center;
padding:15px;
}